<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.onedialogproject.galapagosmapho"
	android:versionCode="201303261"
	android:versionName="1.1" >

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="7" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.onedialogproject.galapagosmapho.Setting"
			android:theme="@style/AppTheme" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name="com.onedialogproject.galapagosmapho.BootReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

		<service android:name="com.onedialogproject.galapagosmapho.ResidentService" />

		<service
			android:name="com.onedialogproject.galapagosmapho.NotifyAreaController"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>

			<meta-data
				android:name="android.accessibilityservice"
				android:resource="@xml/config" />
		</service>
	</application>

</manifest>